
<div class="container content">
	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
				<a asp-action="Fantastics">Фантастика</a>
				<a asp-action="Fantastics">Фентези</a>
				<a asp-action="Fantastics">Классика</a>
				<a asp-action="Fantastics">Детективы</a>
				<a asp-action="Fantastics">Хорроры</a>
			</div>
		</div>
		<div class="col-md-8">CONTENT</div>
	</div>
	<div class="col-md-1 products">
		<div class="row">
			<div class="col-sm-4">
				<div class="product">
					<div class="product-img">
						<img src="~/img/fantastic1.webp" />
					</div>
					<p class="product-title">
						<a href="#">Дремлющая бездна</a>
					</p>
					<p class="product-desc">Питор Гамильтон</p>
					<p class="product-price">Цена 200</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 products">
		<div class="row">
			<div class="col-sm-4">
				<div class="product">
					<div class="product-img">
                        <img src="~/img/fantastic2.jpg" />
					</div>
					<p class="product-title">
						<a href="#">Пленённая вселенная</a>
					</p>
					<p class="product-desc">Гарри Гаррисон</p>
					<p class="product-price">Цена 200</p>
				</div>
			</div>
		</div>
	</div>
</div>